body {
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}


header{
    background-color: #FFF;opacity: 0.8;
    border-radius: 20px;
}

h1 {
    font-size: 56px;
    font-weight: bold;
}

.do-box {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(14, 85, 16);opacity: 0.8;
    border: black;
    flex: content;
    padding: 10px;
        width: fit-content;
        float: left;
}
.schedule-box{
    background-color: rgb(239, 248, 83);opacity: 0.8;
        margin-top: 50px;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        width: fit-content;
        float: right;
}

.delegate-box{
    background-color: rgb(27, 48, 158);opacity: 0.8;
        margin-top: 50px;
        padding: 10px;
        color: rgb(56, 31, 247);
        text-decoration: none;
        font-weight: bold;
        width: fit-content;
        float: left;
}

.delete-box{
        background-color: rgb(222, 48, 48);opacity: 0.8;
            margin-top: 50px;
            padding: 10px;
            text-decoration: none;
            font-weight: bold;
            width: fit-content;
            float: right;
}

.imageDetails {
    background-color: black;
    margin-top: 50px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: fit-content;
}

.imageDetails a {
    color: #FFF;
}

.imageDetails a:hover {
    color: yellow;
}

#sortable {
    grid-template-columns: 10px 10px 10px;
    grid-template-rows: 80px 80px 80px;
    column-gap: 5px;
    row-gap: 5px;
    content: inherit;
}
#sortable li {
    margin: 0 3px 3px 3px;
    padding: 30px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.4em;
    height: 18px;
    content: inherit;
    /* justify-items: start | end | center | stretch; */
}
#sortable li span {
    position: absolute;
    margin-left: -1.3em;
    color: white;
        content: inherit;
}